In [7]:
# Importing libraries
import pandas as pd
from datasets import load_dataset

# Loading data
dataset = load_dataset('lukebarousse/data_jobs', split='train')
df = dataset.to_pandas()

# Data cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [13]:
df_cleaned = df.dropna(how='all') # drop rows if all elements are NaN

In [14]:
df_cleaned.iloc[0:10, 11:14]

  salary_rate  salary_year_avg  salary_hour_avg
0        None              NaN              NaN
1        None              NaN              NaN
2        None              NaN              NaN
3        None              NaN              NaN
4        None              NaN              NaN
5        None              NaN              NaN
6        None              NaN              NaN
7        None              NaN              NaN
8        None              NaN              NaN
9        None              NaN              NaN

In [17]:
df_filled = df_cleaned.fillna(0)
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785741 non-null  object
 2   job_location           785741 non-null  object
 3   job_via                785741 non-null  object
 4   job_schedule_type      785741 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785741 non-null  object
 11  salary_rate            785741 non-null  object
 12  salary_year_avg        785741 non-null  float64
 13  salary_hour_avg        785741 non-null  float64
 14  company_name           785741 non-null  object
 15  job_skills             785741 non-null  object
 16  job_type_skills        785741 non-null  object
 17  job_posted)data        785741 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(2), object(12)
memory usage: 92.2+ MB

In [18]:
df_unique = df_filled.drop_duplicates()
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 785640 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785640 non-null  object
 1   job_title              785640 non-null  object
 2   job_location           785640 non-null  object
 3   job_via                785640 non-null  object
 4   job_schedule_type      785640 non-null  object
 5   job_work_from_home     785640 non-null  bool
 6   search_location        785640 non-null  object
 7   job_posted_date        785640 non-null  object
 8   job_no_degree_mention  785640 non-null  bool
 9   job_health_insurance   785640 non-null  bool
 10  job_country            785640 non-null  object
 11  salary_rate            785640 non-null  object
 12  salary_year_avg        785640 non-null  float64
 13  salary_hour_avg        785640 non-null  float64
 14  company_name           785640 non-null  object
 15  job_skills             785640 non-null  object
 16  job_type_skills        785640 non-null  object
 17  job_posted)data        785640 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(2), object(12)
memory usage: 98.2+ MB

In [22]:
df_unique = df_filled.drop_duplicates(subset='job_title')
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 234674 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        234674 non-null  object
 1   job_title              234674 non-null  object
 2   job_location           234674 non-null  object
 3   job_via                234674 non-null  object
 4   job_schedule_type      234674 non-null  object
 5   job_work_from_home     234674 non-null  bool
 6   search_location        234674 non-null  object
 7   job_posted_date        234674 non-null  object
 8   job_no_degree_mention  234674 non-null  bool
 9   job_health_insurance   234674 non-null  bool
 10  job_country            234674 non-null  object
 11  salary_rate            234674 non-null  object
 12  salary_year_avg        234674 non-null  float64
 13  salary_hour_avg        234674 non-null  float64
 14  company_name           234674 non-null  object
 15  job_skills             234674 non-null  object
 16  job_type_skills        234674 non-null  object
 17  job_posted)data        234674 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(2), object(12)
memory usage: 29.3+ MB